.frow{
	margin-top: 12.5%;
	padding-top: 5%
}

.srow, .trow, .frrow, .fvrow, .sxrow{
	padding-top: 5%;
	text-align: left;
}

.srow img{
	width: 100%;
}

.svnrow{
	padding-top: 5%;
	padding-bottom: 5%;
	color: #fff;
}

.aboutcompany h1{
	font-size: 30px;
	color: #668D99;
	font-weight: bold;
	letter-spacing: 1px;
}

.aboutcompany img{
	width: 100%;
}

label{
	line-height: 32.5px;
	font-weight: 700;
	color: #668D99;
	font-size: 15px
}

p{
	letter-spacing: 1px;
	font-size: 15px
}

ul li{
	font-size: 15px;
	font-weight: lighter;
	color: #50586b
}


ul li:hover{
	text-decoration: none;
}

.contact{
	padding: 5% 0%;
}

.contact label{
	font-weight: lighter;
	color: #59516A
}

.contact h1{
	font-size: 20px;
	font-weight: bold;
	color: #667499;
}

.aboutform{
	padding-top: 5%;
}

.headersetting{
	background-color: #51636A!important;
}

#header-nav{
	width: 100vw;
}

#header-nav i{
	color: white;
}

#header-nav button{
	background: transparent;
}

@media (max-width: 309px){
	
}

@media (max-width: 376px) and (min-width: 310px){
	#aboutdata{
		padding-top: 5%;;
	}

	.aboutcompany img, .trow label, .fvrow label, form{
		margin-left: 10%;
	}
}

@media (max-width: 411px) and (min-width: 377px){
	#aboutdata{
		padding-top: 5%;;
	}

	.aboutcompany img, .trow label, .fvrow label, form{
		margin-left: 10%;
	}
}

@media (max-width: 575px) and (min-width:412px){
	#aboutdata{
		padding-top: 5%;;
	}

	.aboutcompany img, .trow label, .fvrow label, form{
		margin-left: 10%;
	}
}

@media (max-width: 767px) and (min-width: 576px){
	#aboutdata{
		padding-top: 5%;;
	}

	#navbarbackgroundabout{
		background: #50636a!important;
	}
}

/* @media (max-width: 991px) and (min-width: 768px) {
	
}

@media (max-width: 1199px) and (min-width: 992px) {
	
} */