body{
	font-family: Raleway, Arial, Helvetica, sans-serif;

}

.headersetting{
	transition: 0.5s ease;
	background: transparent;
}

.navvisible{
	background-color: #51636A;
}

.bgimg{
	background-image: url('../img/newww.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 100vh;
}

.custom-toggler{
	border-color: #51636A;
}

li a{
	font-family: roboto;
	font-weight: bold;
}

.headerset{
	padding-top: 20%;
	box-sizing: border-box;
	text-align: justify;
}

.headerset h2{
	font-size: 25px;
	letter-spacing: 1px
}

.headerset h1{
	font-size: 35px;
	font-weight: bold;
	letter-spacing: 1px
}

.headerset button{
	border-color: #ffffff!important;
	background: transparent!important;
}

.headerset button:hover{
	background-color: #fff!important;
	color: #000000!important
}

hr{
	background-color: #D0D0D0;
	border-color: #D0D0D0;
	color: #D0D0D0;
}

.customrange{
	padding-top: 5%!important
}

.customrange h1{
	padding: 25px;
	font-size: 40px;
	color: #50586b;
	font-weight: bold;
}

.customrange p{
	padding-top: 25px;
	text-align: left;
}

.rowsetting{
	margin: 6% 0% !important;
}

.rowsetting i{
	color: #51636A;
}

.rowsetting p{
	padding: 2%;
	text-align: center;
	color: #6c757d!important
}

.rowsetting h2{
	font-weight: bold;
	font-size: 20px;
	color: #59516A
}

.imgsetting{
	border-radius: 50%;
	height: 60px;
	width: 60px;
}

.fa-shopping-cart, .fa-desktop, .fa-lock{
	margin-top: 40%;
}

.rowsetting>div{
	height: 30vh
}

.products{
	width: 100%;
	padding: 6% 0% 5%;
}

.products h1{
	font-size: 30px;
	font-weight: bold;
	color: #50586b;
}

.card{
	margin-top: 10%;
}




.slider{
	padding: 40px 0px;
}

.slider .carousel-item img{
	height: 60vh !important;
}



.hotsellingproducts{
	width: 100%;
	padding: 6% 0% 5%;
}

.hotsellingproducts h1{
	font-size: 30px;
	font-weight: bold;
	color: #50586b;
}

.hotsellingproducts img{
	height: 20vh;
}

.hotsellingproducts .row{
	padding-top: 15px
}


.contactform{
	width: 100%;
	padding: 6% 6%
}

.contactform button{
	border: none;
}

footer{
	background-color: #51636A;
}

#footerdiv{
	position: fixed;
}

.footerdiv a{
	color: #ffffff;
	text-decoration: none;
	font-weight: lighter;
	font-size: 12px
}

footer a:hover{

	text-decoration: none;
	color: grey;
}

.footer-copyright a{
	text-decoration: none;
	color: #ffffff;
}

button{
	background-color: #51636A!important;
	opacity: 0.7;
}

button:hover{
	transition: 0.5s ease;
	opacity: 1;
}
